      

       h1{
        text-align: center;
        
       }

        form  {
            position: relative;
            background: #74B0E5;
            max-width: 800px;
            margin: 0 auto 100px;
            padding: 45px;
            text-align: left;
            border-radius: 5%;           
        }

        form input, select {
            font-family: "Roboto", sans-serif;
            outline: 0;
            width: 100%;
            border: 0;
            margin: 0 0 0px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        input#Autenticacao{
            background: #C3C3E1;
            width: 30%;
            text-align: center;
            border-radius: 5%;



        }

        body{
            background-image: url("fundo.jpg");
            background-attachment: scroll;
        }

        table{
            text-align: center;
            width: 100%;
            overflow: scroll;

        
        }

        th{
            text-align: center;
            width: 100%;
            background: #090909;
            color: white;

        }

        tr{
            background: #ffff;
            color: black;

        }

        tr#tr1{
            background: #505151;
                color: white 
               }
